:root{
    font-size: 62.5%;
    font-family: 'Jost', sans-serif;
    text-align: center;
    font-weight: 400;
    --custom-property-blue: #5081ED;
    --custom-property-blueplus: #628eef;
}

body{
    background: var(--custom-property-blue);
    color: white;
}

a{
    color: white;
}

h1{
    display: none;
}

header{
    background: var(--custom-property-blueplus);
    display: flex;
    justify-content: space-between;
    border-bottom: solid white 0.1rem;
}

.burger {
    background: var(--custom-property-blueplus);
    border: none;
}

header a{
    font-size: 2.3rem;
    border-right: solid white 0.1rem;
    padding-right: 5rem;
    padding: 1rem 2.9rem;
    padding-right: 5rem;
}

header span{
    font-weight: bold;
}   

header button{
    display: block;
    margin-left: auto;
}

.scroll{
    font-size: 1.6rem;
    line-height: 3rem;
}

.scroll hr{
    width: 7.5rem;
    height: 0.1rem;
    background: white;
    border: none;
}

.bird{
    font-size: 1rem;
    line-height: 1.4rem;
    color: #000000;
}

.accept{
    font-size: 3rem;
    line-height: 1.4rem;
    border: none;
    background: none;
}

.how{
    font-size: 4rem;
    line-height: 3rem;
}

.hello{
    font-weight: 700;
    font-size: 4.2rem;
    color: black;
    line-height: 4rem;
    text-align: left;
    padding: 12rem 2.5rem;
}

.start{
    padding: 1rem 2.5rem;
    font-size: 2rem;
    background: #000000;
    border-radius: 9rem;
}

.leftal{
    text-align: left;
}

.rightal{
    text-align: right;
}

.send{
    font-size: 26px;
    line-height: 30px;
    padding: 0.8rem 13rem;
    border: none;
    border-radius: 9rem;
    background-color: black;
    color: white;
}

.lastsect p{
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
}

.lastsect button{
    background-color: var(--custom-property-blue);
    border: none;
}

.testimonials{
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 500;
}

.ready{
    font-size: 3.5rem;
    line-height: 4rem;
    color: #000000;
}

.link{
    text-align: right;
}

footer{
    background-color: var(--custom-property-blueplus);
    padding: 2.5rem 2.9rem;
    text-align: left;
}

footer a{
    font-size: 2.2rem;
    line-height: 3rem;
    padding-right: 2.7rem;
}

footer p{
    font-size: 1.4rem;
    line-height: 3rem;
    font-weight: 300;
}

.secondul h2{
    font-size: 35px;
    line-height: 14px;
    font-weight: 500;
}

body ul{
    padding: 0;
}

.secondul p{
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
}

.firstul {
    display: grid;
    /* grid-template-columns: repeat(3, 1.4rem);
    grid-template-rows: repeat(2, 1.5rem); */
    height: 100%;
    grid-template-areas: 
    "a b"
    "c d"
    "e f";
    padding: 3rem;
    gap: 1.7rem;
}

.firstul li{
    background: var(--custom-property-blueplus);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
}

.firstul div{
    padding: 1rem;
}

.firstul img{
    height: 4.3rem;
}

.firstul h3{
    font-size: 14px;
    line-height: 30px;
    color: black;
    margin: 0;
}

.firstul p{
    font-size: 11px;
    line-height: 18px;
    color: black;
    margin: 0;
}

.registration{
    font-size: 18px;
    line-height: 30px;
    padding: 2.3rem;
}

.registration input{
    padding: 0.85rem 2.8rem;
    padding-right: 10rem;
    border: solid gray 0.1rem;
    border-radius: 9rem;
    margin-bottom: 2.3rem;
}

#over_h3{
    color: white;
}

#over_p{
    color: white;
}

.thirdul h2{
    font-weight: 500;
    font-size: 35px;
    line-height: 30px;
}

.thirdul p{
    font-weight: 300;
    font-size: 25px;
    line-height: 25px;
}