:root{
    font-size: 62.5%;
    font-family: 'Jost', sans-serif;
    text-align: center;
    font-weight: 400;
    
    --custom-property-blue: #5081ED;
    --custom-property-blueplus: #628eef;
    --custom-property-white: white;
    --custom-property-black: black;
    --custom-property-grey: gray;
    --custom-property-last: rgba(255, 255, 255, 0.1);
    --custom-property-selection: rgb(54, 6, 247);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

body{
    background: var(--custom-property-blue);
    color: var(--custom-property-white);
    overflow-x: hidden;
    min-width: 32rem;
}

a{
    color: var(--custom-property-white);
}

header {
    background-color: var(--custom-property-blueplus);
    border-bottom: solid var(--custom-property-white) 0.1rem;
}

.header{
    background-color: var(--custom-property-blueplus);
    display: flex;
    justify-content: space-between;
    border-left: solid var(--custom-property-white) 0.1rem;
    max-width: 1920px;
    margin: 0 auto;
}

.burger {
    background: var(--custom-property-blueplus);
    border: none;
    margin-right: 2.9rem;
}

.header .dopa{
    display: none;
    font-size: 2rem;
    margin: auto 9.5rem;
}

.header .cloud{
    font-size: 2.3rem;
    border-right: solid var(--custom-property-white) 0.1rem;
    padding-right: 5rem;
    padding: 1rem 2.9rem;
    padding-right: 5rem;
}

.header span{
    font-weight: bold;
}   

.header button{
    display: block;
    margin-left: auto;
}

.scroll{
    display: block;
    position: absolute;
    left: -7rem;
    top: 52rem;
    transform: rotate(90deg);
    width: 17.2rem;
    display: flex;
    flex-direction: row;
}

.scroll span{
    font-size: 1.8rem;
    line-height: 188%;
    color: var(--custom-property-white);
    margin: auto;
    font-weight: 400;
}

.scroll .line{
    align-items: center;
    width: 0.1rem;
    height: 7.5rem;
    transform: rotate(90deg);
    background-color: var(--custom-property-white);
    margin: auto;
    padding: 0;
}

.birdmar{
    min-width: 31.6rem;
    max-width: 58.3rem;
    align-items: stretch;
    margin: 0 auto;
}

.bird{
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--custom-property-black);
    border-radius: 2rem;
    background-color: var(--custom-property-blueplus);
    height: auto;
    z-index: 2;
    margin: 7rem 1rem auto 5rem;
    box-shadow: 0rem 0.4rem 2rem rgba(0, 0, 0, 0.6);
}

.bird img{
    position: absolute;
    bottom: 0;
    left: -2.2rem;
}

.bird button{
    font-size: 3rem;
    font-weight: 300;
    line-height: 140%;
    font-weight: bold;
    border: none;
    background: none;
    padding: 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.bird p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 140%;
    font-weight: bold;
    text-align: left;
    padding: 0rem 1rem 0.5rem 10rem;
    margin: 1rem 0 0 0;
    border-bottom: 1.5px solid var(--custom-property-white);
}


.how{
    display: flex;
    justify-content: center;
    margin-top: -8rem;
    margin-bottom: 10rem;
    font-size: 4rem;
    color: var(--custom-property-white);
    z-index: 1;
}

.toppad2{
    margin-top: 10rem;
    border-bottom: 1.5px solid var(--custom-property-white);
}

.toppad1{
    background-image: url('/PNG/Oblako.png') ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 10rem;
    padding-top: 16rem;
    border-bottom: 1.5px solid var(--custom-property-white);
}

.podoblakom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.dstart{
    display: none;
    position: relative;
    padding: 2.5rem 3.3rem;
    font-size: 3rem;
    background: var(--custom-property-black);
    border-radius: 9rem;
    font-weight: normal;
    top: -3rem;
    left: 2rem;
}

.podoblakom .start{
    display: block;
    padding: 1rem 2.5rem;
    margin: 0 auto;
    min-width: 26rem;
    max-width: 38rem;
    font-size: 2rem;
    background: var(--custom-property-black);
    border-radius: 9rem;
}

.toppad1 .oblako{
    position: absolute;
    transform: translateY(0rem) translateX(-19rem);
}

.divhello{
    display: flex;
    justify-content: center;
}

.hello{
    font-weight: 700;
    font-size: 4.2rem;
    color: var(--custom-property-black);
    line-height: 95%;
    text-align: left;
    padding: 0 2.5rem 12rem 2.5rem;
    margin: 0;
    width: 40rem;
}

.leftal{
    text-align: left;
}

.leftal img{
    display: block;
    margin-left: auto;
    margin-right: -2rem;
}

.rightal{
    text-align: right;
    width: 100%;
}

.rightal .table p{
    display: block;
    margin-right: 0rem;
    margin-left: auto;
}

.rightal img{
    display: block;
    justify-content: left;
    margin-right: auto;
    margin-left: -2.8rem;
    margin-top: -10rem;
}

.lastsect{
    padding-top: 10rem;
}

.lastsect p{
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 129%;
}

.lastsect button{
    background-color: var(--custom-property-blue);
    border: none;
}

.testimonials{
    font-size: 3rem;
    line-height: 100%;
    font-weight: 500;
    margin-bottom: 6.3rem;
}

.last{
    padding-bottom: 12rem;
    padding-top: 11rem;
}

.oblako3{
    position: absolute;
    left: 0;
    top: 485rem;
}

.oblako3n{
    display: none;
    position: absolute;
    left: 0;
    top: 478rem;
}

.oblako2{
    position: absolute;
    right: 0;
    top: 537em;
}

.oblako2n{
    display: none;
    position: absolute;
    right: 0;
    top: 510rem;
}

.ready{
    margin: 0 auto;
    padding-left: 0.75rem;
    width: 36rem;
    font-size: 3.5rem;
    line-height: 114%;
    color: var(--custom-property-black);
}

.link{
    display: flex;
    justify-content: end;
    gap: 4em;
    margin: 2rem 2rem -10rem 0;
}

.formlink{
    display: flex;
    justify-content: end;
    gap: 4em;
    margin: 2rem 2rem;
}

footer{
    background-color: var(--custom-property-blueplus);
}

.footer{
    display: flex;
    flex-direction: row;
    background-color: var(--custom-property-blueplus);
    width: 100%;
    padding: 2.5rem 2.9rem;
    justify-content: space-between;
}

footer a{
    font-size: 2.2rem;
    line-height: 136%;
}

footer p{
    font-size: 1.4rem;
    line-height: 214%;
    font-weight: 300;
}

footer .fnav{
    display: flex;
}

.qnav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer .qnav a{
    font-size: 1.4rem;
    line-height: 214%;
    font-weight: 300;
    margin-right: 4rem;
}

footer .fnav1{
    display: flex;
    flex-direction: column;
    text-align: left;
}

footer .link2 .link2ul{
    display: none;
}

.littlepad{
    margin-right: 4rem;
}

.secondul{
    margin: 2rem 2rem 0 2rem;
}

.secondul h2{
    font-size: 3.5rem;
    font-weight: 500;
}

body ul{
    padding: 0;
}

.secondul p{
    font-size: 1.8rem;
    line-height: 110%;
    font-weight: 300;
}

.firstul {
    display: grid;
    padding: 3rem;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.firstul li{
    background: var(--custom-property-blueplus);
    box-shadow: 0rem 0.4rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    padding: 2rem;
    width: 15rem;
}

.firstul img{
    height: 4.3rem;
}

.firstul .whitediv{
    color: var(--custom-property-white);
}

h3{
    font-size: 1.4rem;
    line-height: 214%;
    color: var(--custom-property-black);
    margin: 0;
}

.firstul p{
    font-size: 1.1rem;
    line-height: 164%;
    color: var(--custom-property-black);
    margin: 0;
}

.registration{
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    line-height: 167%;
    padding: 3.5rem;
    align-items: stretch;
    max-width: 62rem;
    margin: 0 auto;
    text-align: left;
}

.registration input{
    padding: 0.85rem 2.8rem 0.85rem 2.8rem;
    border: solid var(--custom-property-grey) 0.1rem;
    border-radius: 9rem;
    margin-bottom: 2.3rem;
    width: 100%;
    box-sizing: border-box;
}

.send{
    font-size: 2.6rem;
    line-height: 115%;
    padding: 0.8rem;
    border: none;
    border-radius: 9rem;
    background-color: var(--custom-property-black);
    color: var(--custom-property-white);
    margin-bottom: 2.3rem;
}

.experience{
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.thirdul h2{
    font-weight: 500;
    font-size: 3.5rem;
    margin-bottom: 6.8rem;
}

.thirdul p{
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 100%;
}

.table{
    display: flex;
    flex-direction: column;
}

.table .spictures{
    display: none;
}

.table p{
    width: 32rem;
    margin: 2rem 0 0 0;
}

.table h2{
    margin: 0;
}

.column{
    border-radius: 2rem;
    background-color: var(--custom-property-last);
    box-shadow: 0rem 0.4rem 2rem rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 32rem;
    height: 29.5rem;
    overflow: hidden;
}

.column2{
    display: flex;
    flex-direction: column;

}

.columnTxt{
    height: 8.1rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column img{
    display: block;
    width: 100%;
    height: 21.5rem;
    height: auto;
}

.otz{
    width: 28rem;
    padding-top: rem;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
}

.otz img{
    display: block;
    border-radius: 50%;
    margin: -1.5rem 0 0 -2.5rem;
}

.otz{
    padding: 4rem;
    width: 32rem;
}

.otz p{
    padding-top: 1.5rem;
}

.testim{
    max-width: 35rem;
    text-align: center;
    background-image: url(/SVG/Testimonials.svg);
    height: 21.3rem;
    margin: 1rem auto;
}

.radioflex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 7.5rem;
    align-items: center;
}

.radio{
    margin: 5rem 0.5rem;
}

@media all and (min-width: 590px){
    footer .link2 .link2ul{
        display: flex;
        gap: 4em;
        margin: 2rem 2rem;
        text-align: right;
    }
    .link{
        display: none;
    }
    .formlink{
        display: none;
    }
}

@media all and (min-width: 768px) {
    .firstul {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 7rem;
    }
    .header .dopa{
        display: flex;
    }
    .table p{
        width: 47rem;
    }
    .tabler{
        margin: 2rem 4rem 0 4rem;
    }
    .tablel{
        margin: 2rem 4rem 0 4rem;
    }
    .toppad1{
        background-position: center 0;
    }
    .oblako2{
        top: 520rem;
    }
    .oblako3{
        top: 465rem;
    }
}

@media all and (min-width: 1024px){
    .hello{
        font-weight: 700;
        font-size: 12rem;
        line-height: 100%;
        text-align: left;
        width: 100rem;
        padding-bottom: 5rem;
    }
    .podoblakom .start{
        display: none;
    }
    .dstart{
        display: initial;
    }
    .tabler{
        margin: 2rem 7.5rem 0 7.5rem;
    }
    .tablel{
        margin: 2rem 7.5rem 0 7.5rem;
    }
    .scroll{
        top: 67rem;
    }
    .toppad1{
        background-size: 110rem;
    }
    .oblako2{
        top: 535rem;
    }
    .oblako3{
        top: 480rem;
    }
}

@media all and (min-width: 1200px){
    .experience{
        flex-direction: row;
    }
    .table p{
        width: 56rem;
    }
    .oblako2{
        display: none;
    }
    .oblako3{
        display: none;
    }
    .oblako2n{
        display: initial;
        top: 430rem;
    }
    .oblako3n{
        display: initial;
        top: 400rem;
    }
}

@media all and (min-width: 1600px){
    .table{
        flex-direction: row;
        justify-content: center;
    }
    .table .fpictures{
        display: none;
    }
    .table .spictures{
        display: initial;
    }
    .oblako2n{
        top: 510rem;
    }
    .oblako3n{
        top: 480rem;
    }
}

html, body { height: 100%;}

body > footer {
    position: sticky;
    top: 100vh;
}

.formh2{
    font-size: 3.5rem;
    font-weight: 500;
    margin: 3.5rem auto 0 auto;
}

.gender{
    display: flex;
    flex-direction: row;
}

.gender label{
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    align-items: center;
}

.gender input{
    width: 2rem;
    height: 2rem;
    margin: 0 5rem 0 2rem;
}

.buthov:hover{
    box-shadow: inset 0 0 15px 0.5px var(--custom-property-white);
    transition: box-shadow 0.3s;
}

.buthov:active{
    transform: scale(90%);
    transition: transform 0.2s;
}

a:hover{
    text-decoration: underline;
}

.radioflex button{
    border-radius: 50%;
}

.radioflex img:hover{
    transform: scale(125%);
    transition: transform 0.5s;
}

.radioflex img:active{
    transform: scale(100%);
    transition: transform 0.2s;
}

footer img:hover{
    transform: scale(120%);
    box-shadow: 0 0 20px 0.2px var(--custom-property-black);
    transition: box-shadow 0.7s, transform 0.5s;
}

.firstulhov:hover{
    transform: scale(110%);
    transition: transform 0.5s;
}

::selection{
    background-color: var(--custom-property-black);
    color: var(--custom-property-white);
    text-shadow:
    1px 0 1px var(--custom-property-blue),
    0 1px 1px var(--custom-property-blue),
    2px 1px 1px var(--custom-property-blue),
    1px 2px 1px var(--custom-property-blue),
    3px 2px 1px var(--custom-property-blue),
    2px 3px 1px var(--custom-property-blue);
}